<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- <link rel="stylesheet" style="text/css" href="../public/css/style.css"> --}}
    <script src="./script/product.js" type="text/javascript"></script>
</head>

<body>
        <script src="./script/product.js" type="text/javascript"></script>
    <main class="dashboard">
        <h4>Admin Dashboard</h4>
        <form id="form" onsubmit="myFunc()">
            <h3>Create Product</h3>
            <div class="form-row">
                <div class="col-md-3 mb-3 md-form">
                    <label for="validationDefault22">Product name</label>
                    <input type="text" class="form-control" id="validationDefault22" >
                </div>
                <div class="col-md-3 mb-3 md-form">
                    <label for="validationDefault22">Price</label>
                    <input type="number" class="form-control" id="validationDefault22">
                </div>
                <div class="col-md-3 mb-3 md-form">
                    <label for="validationDefaultUsername22">Offerprice</label>
                    <input type="number" class="form-control" id="validationDefaultUsername22"
                        >
                </div>
                <div class="col-md-3 mb-3 md-form">
                    <label for="validationDefaultUsername22">Offerpercentage</label>
                    <input type="text" class="form-control" id="validationDefaultUsername22"
                    >
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3 mb-3 md-form">
                    <label for="validationDefault22">Category type</label>
                    <input type="text" class="form-control" id="validationDefault22">
                </div>
                <div class="col-md-3 mb-3 md-form">
                    <label for="validationDefault22">Shipping</label>
                    <input type="text" class="form-control" id="validationDefault22">
                </div>
                <div class="col-md-3 mb-3 md-form">
                    <label for="validationDefault22">Availability</label>
                    <input type="text" class="form-control" id="validationDefault22">
                </div>
                <div class="col-md-3 mb-3 md-form">
                    <label for="validationDefault22">Image</label>
                    <input type="file" class="form-control" id="validationDefault22">
                </div>
            </div>
            <button class="btn btn-primary btn-sm" type="submit">Submit form</button>
        </form>
    </main>
</body>

</html>